@{
    ViewData["Title"] = "About Us";
}

<div class=" text-white text-center py-5" style="background: url('https://i.pinimg.com/736x/ae/5b/7f/ae5b7fda18b0dac3996feb8c2fd4764d.jpg') no-repeat center center; background-size: cover;">
    <div class="container">
        <h1 class="display-4 font-weight-bold text-black">About Bookory</h1>
        <p class="lead text-black">Your one-stop shop for all the books you love.</p>
    </div>
</div>

<div class="container my-5">
    <div class="row align-items-center">
        <div class="col-lg-6 mb-4 mb-lg-0">
            <h2 class="h1 mb-3">Our Story</h2>
            <p class="lead">
                Welcome to Bookory, where every page holds a new adventure. Our journey began with a simple idea: to make reading accessible and exciting for everyone. We believe in the power of stories to connect, inspire, and transform lives.
            </p>
            <p>
                From classic literature to the latest bestsellers, our vast collection is curated to satisfy every reader's passion. We're more than just a bookstore; we're a community of book lovers dedicated to helping you discover new worlds and timeless tales.
            </p>
        </div>
        <div class="col-lg-6">
            <img src="https://i.etsystatic.com/35778056/r/il/869ca0/5776080270/il_fullxfull.5776080270_kfpi.jpg" class="img-fluid rounded shadow-lg" alt="Bookory team working">
        </div>
    </div>
</div>

<div class="bg-light py-5">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-3 mb-4">
                <h3 class="display-4 font-weight-bold" style="color:#FF6600">10k+</h3>
                <p class="text" style="color:#FF6600">Completed Orders</p>
            </div>
            <div class="col-md-3 mb-4">
                <h3 class="display-4 font-weight-bold" style="color:#FF6600">15k+</h3>
                <p class="text" style="color:#FF6600">Happy Customers</p>
            </div>
            <div class="col-md-3 mb-4">
                <h3 class="display-4 font-weight-bold" style="color:#FF6600">10+</h3>
                <p class="text" style="color:#FF6600">Years of Service</p>
            </div>
            <div class="col-md-3 mb-4">
                <h3 class="display-4 font-weight-bold" style="color:#FF6600">45+</h3>
                <p class="text" style="color:#FF6600">Worldwide Publishers</p>
            </div>
        </div>
    </div>
</div>

<div class="container my-5">
    <h2 class="text-center h1 mb-4">Why Choose Bookory?</h2>
    <div class="row text-center">
        <div class="col-md-4 mb-4">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FF6600"><path d="M280-160q-50 0-85-35t-35-85H60l18-80h113q17-19 40-29.5t49-10.5q26 0 49 10.5t40 29.5h167l84-360H182l4-17q6-28 27.5-45.5T264-800h456l-37 160h117l120 160-40 200h-80q0 50-35 85t-85 35q-50 0-85-35t-35-85H400q0 50-35 85t-85 35Zm357-280h193l4-21-74-99h-95l-28 120Zm-19-273 2-7-84 360 2-7 34-146 46-200ZM20-427l20-80h220l-20 80H20Zm80-146 20-80h260l-20 80H100Zm180 333q17 0 28.5-11.5T320-280q0-17-11.5-28.5T280-320q-17 0-28.5 11.5T240-280q0 17 11.5 28.5T280-240Zm400 0q17 0 28.5-11.5T720-280q0-17-11.5-28.5T680-320q-17 0-28.5 11.5T640-280q0 17 11.5 28.5T680-240Z" /></svg>
            <h5 class="mt-3">Fast & Free Shipping</h5>
            <p class="text-muted">Get your books delivered to your doorstep quickly with our reliable shipping.</p>
        </div>
        <div class="col-md-4 mb-4">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FF6600"><path d="M320-320h480v-480h-80v280l-100-60-100 60v-280H320v480Zm0 80q-33 0-56.5-23.5T240-320v-480q0-33 23.5-56.5T320-880h480q33 0 56.5 23.5T880-800v480q0 33-23.5 56.5T800-240H320ZM160-80q-33 0-56.5-23.5T80-160v-560h80v560h560v80H160Zm360-720h200-200Zm-200 0h480-480Z" /></svg>
            <h5 class="mt-3">Curated Selection</h5>
            <p class="text-muted">Our experts hand-pick a diverse collection of books for every taste and genre.</p>
        </div>
        <div class="col-md-4 mb-4">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FF6600"><path d="M480-80q-24 0-46-9t-39-26q-29-29-50-38t-63-9q-50 0-85-35t-35-85q0-42-9-63t-38-50q-17-17-26-39t-9-46q0-24 9-46t26-39q29-29 38-50t9-63q0-50 35-85t85-35q42 0 63-9t50-38q17-17 39-26t46-9q24 0 46 9t39 26q29 29 50 38t63 9q50 0 85 35t35 85q0 42 9 63t38 50q17 17 26 39t9 46q0 24-9 46t-26 39q-29 29-38 50t-9 63q0 50-35 85t-85 35q-42 0-63 9t-50 38q-17 17-39 26t-46 9Zm0-80q8 0 15.5-3.5T508-172q41-41 77-55.5t93-14.5q17 0 28.5-11.5T718-282q0-58 14.5-93.5T788-452q12-12 12-28t-12-28q-41-41-55.5-77T718-678q0-17-11.5-28.5T678-718q-58 0-93.5-14.5T508-788q-5-5-12.5-8.5T480-800q-8 0-15.5 3.5T452-788q-41 41-77 55.5T282-718q-17 0-28.5 11.5T242-678q0 58-14.5 93.5T172-508q-12 12-12 28t12 28q41 41 55.5 77t14.5 93q0 17 11.5 28.5T282-242q58 0 93.5 14.5T452-172q5 5 12.5 8.5T480-160Zm100-160q25 0 42.5-17.5T640-380q0-25-17.5-42.5T580-440q-25 0-42.5 17.5T520-380q0 25 17.5 42.5T580-320Zm-202-2 260-260-56-56-260 260 56 56Zm2-198q25 0 42.5-17.5T440-580q0-25-17.5-42.5T380-640q-25 0-42.5 17.5T320-580q0 25 17.5 42.5T380-520Zm100 40Z" /></svg>
            <h5 class="mt-3">Exclusive Offers</h5>
            <p class="text-muted">Enjoy special discounts and member-only promotions all year round.</p>
        </div>
    </div>
</div>